<!DOCTYPE html>
<html>
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruits_and_veggies_test.js"></script>
        <!-- <script src="js/fruits_and_veggies.js"></script> -->
        <script src="js/app.js"></script>
    </head>
    <body ng-app="App">
        <div class="container" ng-controller="AppController">
          <h1>Fruit and Veggies</h1>
          <p>Move each fruit and vegetable from the pool to their respective column</p>
          <hr />
          <h2 class="success" ng-show="pool.length===0 && allCorrect()">You got it!</h2>
          <h2 class="fail" ng-show="pool.length===0 && !allCorrect()">Keep trying!</h2>
          <div class="row">
            <div class="col-sm-4">
              <h2>Fruits</h2>
              <div class="well" ng-repeat="fruit in fruits track by $index" ng-class="{'wrong': pool.length===0 && !inFruits($index)}">
                <span>{{fruit}}</span>
                <button class="btn btn-primary" ng-click="moveFromFruitsToPool($index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="col-sm-4">
              <h2>Pool</h2>
              <div class="well" ng-repeat="item in pool track by $index">
                <button class="btn btn-primary" ng-click="moveFromPoolToFruits($index)"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <span>{{item}}</span>
                <button class="btn btn-primary" ng-click="moveFromPoolToVegetables($index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="col-sm-4">
              <h2>Veggies</h2>
              <div class="well" ng-repeat="vegetable in vegetables track by $index" ng-class="{'wrong': pool.length===0 && !inVegetables($index)}">
                <button class="btn btn-primary" ng-click="moveFromVegetablesToPool($index)"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <span>{{vegetable}}</span>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
